
@font-face {
    font-family: 'HD44780';
    src: url('HD44780.eot');
    src: url('HD44780.eot?#iefix') format('embedded-opentype'),
        url('HD44780.woff2') format('woff2'),
        url('HD44780.woff') format('woff'),
        url('HD44780.svg#HD44780') format('svg');
    font-weight: normal;
    font-style: normal;
}
